#inspecter-farms-report-container {
  #filter {
    margin-bottom: 30px;

    .btn-group {
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(center);

      .btn {
        @include flex(1);
        margin: 0 5px;
      }
    }

    .checkbox-inline {
      margin-right: 40px;
    }
  }

  #download {
    margin-top: 20px;
    text-align: center;

    .btn {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
