$ubuntu: 'Ubuntu', Helvetica, Arial, sans-serif;

#inspecter-farms-show-container {
  #current-value .attribute {
    padding: 0 5px;
  }

  .card {
    color: #616161;
    box-shadow: none;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-family: $ubuntu;

    .card-head {
      color: #4caf50;
      font-size: 20px;
      line-height: 30px;
      padding-top: 20px;
      position: relative;

      span.sub-head {
        display: block;
      }
    }

    .card-footer {
      list-style: none;
      margin: 0;
      padding-left: 0;
      border-top: 1px solid #e0e0e0;

      li {
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .circle-chart {
    position: relative;

    .chart-center {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);

      .chart-value {
        font-size: 30px;
        color: #4caf50;
      }

      .chart-label {
        font-size: 22px;
        color: #b2b2b2;
      }
    }
  }
}

