#inspecter-cameras-show-container
  h1 Camera
  / img onload="initCameraStream(this, '#{@camera.host}', '#{@camera.username}', '#{@camera.password}')" src="#{@camera.host}/cgi-bin/CGIProxy.fcgi?cmd=snapPicture2&usr=#{@camera.username}&pwd=#{@camera.password}&t="
