#inspecter-cameras-show-container {
  .camera-view img {
    display: block;
    margin: 0 auto;
    border: 6px solid #0aa89e;
    border-radius: 6px;
  }

  .camera-controls {
    margin: 20px 0;
    @include justify-content(center);
    @include align-items(center);
    @include flexbox;

    .btn {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .form-group {
    text-align: center;
  }
}
